<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Lost & Found - All Items</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h2>All Items</h2>
    <ul id="itemsList">
      <li>Loading items...</li>
    </ul>
  </body>
</html>
