<header>
  <div class="header-content">
    <a href="/items" class="brand">LostFound PCCOE</a>
    <nav>
      <a href="/items" class="nav-link">Dashboard</a>
      <a href="#resolved" class="nav-link">Resolved</a>
    </nav>
  </div>
</header>