<header>
  <div class="header-content">
    <a href="/items" class="brand">
      <i class="fa-solid fa-shield-heart"></i>
      <span>LostFound PCCOE</span>
    </a>
    <nav>
      <a href="/items" class="nav-link">Dashboard</a>
      <a href="#found" class="nav-link">Found</a>
      <a href="#resolved" class="nav-link">Resolved</a>
    </nav>
  </div>
</header>